[Unit]
Description=ArangoDB container
After=docker.socket
Requires=docker.service

[Service]
Type=exec
TimeoutStartSec=0
Restart=no
ExecStartPre=-/usr/bin/docker create -p 8529:8529 -v /mnt/arango:/db --name arango myarango
ExecStart=/usr/bin/docker start arango -a

[Install]
WantedBy=multi-user.target
